
{% extends "base.html" %}
{% block content %}
{% load static %}
      <!-- end header -->
      <section class="slider_section">
         <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">

      <div class="snap" >

      
      <img src="{% static 'images/snapAII.png' %}" alt="snap" style="display: block; margin-top:-78px; height:fit-content"/>
      <h1>From Pixels to Knowledge</h1>
      <span> Engage with Our AI Chatbot!</span>
      </div>

      
      <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br> <br>  <br>



<!-- CHOOSE  -->
      <div class="whyschose">
         <div class="container">

            <div class="row">
                  <div class="title">
                     <h2>Why <strong class="black">TO Choose </strong></h2>
                     <span>AI Chatbot for Image-Based Queries</span>
                  </div>
               </div>
            </div>
         </div>
      <div class="choose_bg">
         <div class="container">
            <div class="white_bg">
               <div class="choose1">      
                  <div class="for_box">
                     <!-- <i><img src="icon/1.png"/></i> -->
                     <h3>Image Recognition</h3>
                     <p>Quickly get detailed insights by uploading images or URLs.</p>
                  </div>
            
                  <div class="for_box">
                     <!-- <i><img src="icon/2.png"/></i> -->
                     <h3>Interactive Experience</h3>
                     <p>Engage in conversations and ask follow-up questions for personalized responses.
                     </p>
                  </div>
            
               <!-- </div>
               <br>
               <br>
               <div class="choose2"> -->
             
                  <div class="for_box">
                     <!-- <i><img src="icon/3.png"/></i> -->
                     <h3>User-Friendly Design</h3>
                     <p> Navigate easily with a visually appealing and intuitive interface.</p>
                  </div>
                  </div>
                  <div class="btn">
            <button><p>Read More</p></button>
     </div>

      
 <br><br>
 <hr style="height:2px;border-width:0;color:gray;background-color:gray">
 <br><br>
              
               
               </div>
            </div>
         </div>
         <div class="Clients_bg_white">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="title">
                        <h3>What Clients Say?</h3>
                     </div>
                  </div>
               </div>
               <div id="client_slider" class="carousel slide banner_Client" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#client_slider" data-slide-to="0" class="active"></li>
          <li data-target="#client_slider" data-slide-to="1"></li>
          <li data-target="#client_slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="carousel-caption text-bg">
               <div class="img_bg">
                  <i><img src="{% static 'images/lllll.png' %}"/><span>Jone Due<br><strong class="date">12/02/2019</strong></span></i>
                  
               </div>
                
                <p>You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am really satisfied with my first laptop service.<br>
                You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am </p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-bg">
                <div class="img_bg">
                  <i><img src="{% static 'images/lllll.png' %}"/><span>Jone Due<br><strong class="date">12/02/2019</strong></span></i>
                  
               </div>
                <p>You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am really satisfied with my first laptop service.<br>
                You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am </p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-bg">
                 <div class="img_bg">
                  <i><img src="{% static 'images/lllll.png' %}"/><span>Jone Due<br><strong class="date">12/02/2019</strong></span></i>
                  
               </div>
                <p>You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am really satisfied with my first laptop service.<br>
                You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. I am </p>
               
              </div>
            </div>
          </div>
        </div>
        
      </div>

            </div>
         </div>

         <div class="container">
            <div class="yellow_bg">
            <div class="row">
               <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                  <div class="yellow-box">
                     <h3>REQUEST A FREE QUOTE<i><img src="{% static 'icon/calll.png' %}"/></i></h3>
                     
                     <p>Get answers and advice from people you want it from.</p>
                  </div>
               </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                  <div class="yellow-box">
                     <a href="#">Get  Quote</a>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>

      <!-- end our product -->
      <!-- map -->
      <div class="container-fluid padi">
         <div class="map">
            <img src="{% static 'images/mapimg.jpg' %}" alt="img"/>
         </div>
      </div>
      <!-- end map --> 
      <!--  footer --> 
{% endblock %}